In [30]:
import pandas as pd
import numpy as np

In [31]:
pd.options.display.max_columns = None

In [32]:
df = pd.read_csv('csv_junto_sucio.csv', index_col= 0)
df.head()

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,registro,edad,sexo
0,0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,910,50-54,Man
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,784,50-54,Man
2,2,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",0,I do not know,$0-999,$0 ($USD),MySQL,NaN,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,924,22-24,Man
3,3,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,Academics/Education,"1000-9,999 employees",0,I do not know,"30,000-39,999",$0 ($USD),NaN,NaN,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,575,45-49,Man
4,4,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,Academics/Education,50-249 employees,5-9,We use ML methods for generating insights (but...,"30,000-39,999","$1000-$9,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,781,45-49,Man

In [33]:
df.drop(['Q8', 'Q9', 'Q11', 'Q12', 'Q13', 'Q14', 'Q23', 'Q24', 'Q26'], axis=1, inplace=True)

In [34]:
df.drop(['Q32', 'Q34', 'Q10_Part_1',
       'Q10_Part_2', 'Q10_Part_3', 'Q10_Part_4', 'Q10_Part_5', 'Q10_Part_6',
       'Q10_Part_7', 'Q10_Part_8', 'Q10_Part_9', 'Q10_Part_10', 'Q10_Part_11',
       'Q10_Part_12', 'Q10_Part_13', 'Q10_Part_14', 'Q10_Part_15',
       'Q10_Part_16', 'Q10_OTHER'], axis=1, inplace=True)

In [35]:
df.columns

Index(['index', 'Q3', 'Q4', 'Q5', 'Q6', 'Q15', 'Q20', 'Q21', 'Q22', 'Q25',
       'Q33', 'Q35', 'Q41', 'Q7', 'Q16', 'Q17', 'registro', 'edad', 'sexo'],
      dtype='object')

In [36]:
df.drop(['Q33', 'Q35'], axis=1, inplace=True)

In [37]:
df.head()

,index,Q3,Q4,Q5,Q6,Q15,Q20,Q21,Q22,Q25,Q41,Q7,Q16,Q17,registro,edad,sexo
0,0,India,Bachelor’s degree,Other,5-10 years,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,"25,000-29,999","Local development environments (RStudio, Jupyt...","Python, R","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",910,50-54,Man
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,"60,000-69,999","Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java",Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",784,50-54,Man
2,2,Pakistan,Master’s degree,Software Engineer,1-3 years,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",0,$0-999,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java",NaN,NaN,924,22-24,Man
3,3,Mexico,Doctoral degree,Research Scientist,20+ years,5-10 years,Academics/Education,"1000-9,999 employees",0,"30,000-39,999","Local development environments (RStudio, Jupyt...",Python,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",575,45-49,Man
4,4,India,Doctoral degree,Other,< 1 years,10-20 years,Academics/Education,50-249 employees,5-9,"30,000-39,999","Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",781,45-49,Man

In [38]:
df.rename(columns={'Q3': 'country', 'Q4': 'education_level','Q5': 'role', 'Q6': 'programming_experience', 'Q7':'programming_language', 'Q15': 'years_ml', 'Q16':'ml_frameworks', 'Q17':'ml_algorithms', 'Q20':'industry', 'Q21':'company_size', 'Q22': 'people_in_data', 'Q25': 'salary', 'Q41':'primary_bd_tool'}, inplace=True)

In [39]:
df.head()

,index,country,education_level,role,programming_experience,years_ml,industry,company_size,people_in_data,salary,primary_bd_tool,programming_language,ml_frameworks,ml_algorithms,registro,edad,sexo
0,0,India,Bachelor’s degree,Other,5-10 years,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,"25,000-29,999","Local development environments (RStudio, Jupyt...","Python, R","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",910,50-54,Man
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,"60,000-69,999","Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java",Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",784,50-54,Man
2,2,Pakistan,Master’s degree,Software Engineer,1-3 years,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",0,$0-999,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java",NaN,NaN,924,22-24,Man
3,3,Mexico,Doctoral degree,Research Scientist,20+ years,5-10 years,Academics/Education,"1000-9,999 employees",0,"30,000-39,999","Local development environments (RStudio, Jupyt...",Python,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",575,45-49,Man
4,4,India,Doctoral degree,Other,< 1 years,10-20 years,Academics/Education,50-249 employees,5-9,"30,000-39,999","Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",781,45-49,Man

In [40]:
column_names = ['registro', 'edad', 'sexo', 'country', 'education_level', 'programming_experience', 'programming_language', 'primary_bd_tool', 'years_ml', 'ml_frameworks', 'ml_algorithms', 'role', 'salary', 'industry', 'company size', 'people_in_data']

In [41]:
df = df.reindex(columns = column_names)
df.head()

,registro,edad,sexo,country,education_level,programming_experience,programming_language,primary_bd_tool,years_ml,ml_frameworks,ml_algorithms,role,salary,industry,company size,people_in_data
0,910,50-54,Man,India,Bachelor’s degree,5-10 years,"Python, R","Local development environments (RStudio, Jupyt...",5-10 years,"Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",Other,"25,000-29,999",Manufacturing/Fabrication,NaN,3-4
1,784,50-54,Man,Indonesia,Master’s degree,20+ years,"SQL, C, C++, Java","Advanced statistical software (SPSS, SAS, etc.)",< 1 year,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Program/Project Manager,"60,000-69,999",Manufacturing/Fabrication,NaN,1-2
2,924,22-24,Man,Pakistan,Master’s degree,1-3 years,"Python, C++, Java","Basic statistical software (Microsoft Excel, G...",I do not use machine learning methods,NaN,NaN,Software Engineer,$0-999,Academics/Education,NaN,0
3,575,45-49,Man,Mexico,Doctoral degree,20+ years,Python,"Local development environments (RStudio, Jupyt...",5-10 years,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Research Scientist,"30,000-39,999",Academics/Education,NaN,0
4,781,45-49,Man,India,Doctoral degree,< 1 years,"Python, C, MATLAB","Local development environments (RStudio, Jupyt...",10-20 years,"Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Other,"30,000-39,999",Academics/Education,NaN,5-9

In [42]:
df.rename(columns={'registro':'survey_number', 'edad':'age', 'sexo':'gender'}, inplace=True)
df.head()

,survey_number,age,gender,country,education_level,programming_experience,programming_language,primary_bd_tool,years_ml,ml_frameworks,ml_algorithms,role,salary,industry,company size,people_in_data
0,910,50-54,Man,India,Bachelor’s degree,5-10 years,"Python, R","Local development environments (RStudio, Jupyt...",5-10 years,"Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",Other,"25,000-29,999",Manufacturing/Fabrication,NaN,3-4
1,784,50-54,Man,Indonesia,Master’s degree,20+ years,"SQL, C, C++, Java","Advanced statistical software (SPSS, SAS, etc.)",< 1 year,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Program/Project Manager,"60,000-69,999",Manufacturing/Fabrication,NaN,1-2
2,924,22-24,Man,Pakistan,Master’s degree,1-3 years,"Python, C++, Java","Basic statistical software (Microsoft Excel, G...",I do not use machine learning methods,NaN,NaN,Software Engineer,$0-999,Academics/Education,NaN,0
3,575,45-49,Man,Mexico,Doctoral degree,20+ years,Python,"Local development environments (RStudio, Jupyt...",5-10 years,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Research Scientist,"30,000-39,999",Academics/Education,NaN,0
4,781,45-49,Man,India,Doctoral degree,< 1 years,"Python, C, MATLAB","Local development environments (RStudio, Jupyt...",10-20 years,"Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Other,"30,000-39,999",Academics/Education,NaN,5-9

Creamos columna género 2.

In [43]:
df["gender"].unique()

array(['Man', 'Woman', 'Nonbinary', 'Prefer not to say',
       'Prefer to self-describe'], dtype=object)

In [49]:
def funcion (columna):
    if columna == 'Woman':
        return "Woman"
    elif columna == 'Man':
        return "Man"
    else: 
        return "Others"

In [50]:
df["gender_2"] = df["gender"].apply(funcion)

In [52]:
df["gender_2"].unique()

array(['Man', 'Woman', 'Others'], dtype=object)

In [53]:
df.to_csv('preparadito.csv')